@import "_swiper";

.swiper-container {
    width: 100%;
    // width: 100vw;
    // position: relative;
    // left: calc(-50vw + 50%);
    // right: calc(-50vw + 50%);
}


.swiper {
    padding-bottom: 4.8rem;
}


.swiper-slide {
    width: fit-content;

    img {
        display: block;
        height: 32rem;

        @media screen and (min-width: 599px) {
            height: 48rem;
        }

        @media screen and (min-width: 900px) {
            height: 64rem;
        }
        @media screen and (min-width: 1200px) {
            height: 72rem;
        }
        @media screen and (min-width: 1450px) {
            height: 80rem;
        }
    }
}

.button.primary.swiper-btn-prev,
.button.primary.swiper-btn-next {
    padding: 2.4rem;
    position: absolute;
    bottom: 1.2rem;
    right: 0;
}

.button.primary.swiper-btn-prev {
    right: 10.6rem;
}

.button.primary.swiper-btn-next {
    right: 2.8rem;
}

.button.primary.swiper-btn-prev+.button.primary.swiper-btn-next {
    margin-left: 0;
}