.card-groups {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5.6rem;
  padding: 5.6rem 0px;
  max-width: 1440px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}