@import "_flickity";

.carousel-container {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
}

.main-carousel {
    padding-bottom: 4.8rem;
    .flickity-page-dots {
        display: flex;
        flex-direction: row;
        justify-content: center;
        bottom: 1.8rem;
    }
}

.button.primary.prev,
.button.primary.next {
    padding: 2.4rem;
    position: absolute;
    bottom: 1.2rem;
    right: 0;
}

.button.primary.prev {
    right: 10.6rem;
}
.button.primary.next {
    right: 2.8rem;
}

.button.primary.prev + .button.primary.next {
    margin-left: 0;
}

.carousel-cell {
    height: 32rem;
    margin-left: 2.4rem;
    @media screen and (min-width: 599px) {
        height: 42rem;
    }
    @media screen and (min-width: 900px) {
        height: 76rem;
    }
    img {
        display: block;
        max-height: 100%;
        margin: 0 auto;
        max-width: 100%;
    }
}