@mixin font-display {
  font-family: var(--font-family-display);
  font-weight: var(--font-weight-medium);
  font-style: normal;
}

@mixin font-sans {
  font-family: var(--font-family-sans);
}

@mixin font-mono {
  font-family: var(--font-family-mono);
}


@mixin displayXLarge {
  font-size: 6.6rem;
  line-height:1.3333333;
  letter-spacing: -0.006em;
}

@mixin displayLarge {
  font-size: 5.7rem;
  line-height: 1.4035087;
  letter-spacing: -0.006em;
}

@mixin displayMedium {
  font-size: 4.5rem;
  line-height: 1.4222222;
  letter-spacing: -0.006em;
}

@mixin displaySmall {
  font-size: 3.6rem;
  line-height:1.3333333;
  letter-spacing: -0.006em;
}

@mixin headlineLarge {
  font-size: 3.2rem;
  line-height: 1.5;
  letter-spacing: 0em;
}

@mixin headlineMedium {
  font-size: 2.8rem;
  line-height: 1.4285714;
  letter-spacing: 0em;
}

@mixin headlineSmall {
  font-size: 2.4rem;
  line-height: 1.3333333;
  letter-spacing: 0em;
}

@mixin titleLarge {
  font-size: 2.2rem;
  line-height: 1.4545454;
  letter-spacing: 0em;
}

@mixin titleMedium {
  font-size: 1.8rem;
  line-height: 1.3333333;
  letter-spacing: 0.004em;
}

@mixin titleSmall {
  font-size: 1.4rem;
  line-height: 1.7142857;
  letter-spacing: 0.004em;
}

@mixin labelLarge {
  font-size: 1.4rem;
  line-height: 1.7142857;
  letter-spacing: 0.004em;
}

@mixin labelMedium {
  font-size: 1.2rem;
  line-height: 1.3333333;
  letter-spacing: 0.012em;
}

@mixin labelSmall {
  font-size: 1.1rem;
  line-height: 1.454545;
  letter-spacing: 0.016em;
}

@mixin bodyXXLarge {
  font-size: 2rem;
  line-height: 1.6;
  letter-spacing: -0.008em;
}

@mixin bodyXLarge {
  font-size: 1.8rem;
  line-height: 1.7777777;
  letter-spacing: -0.008em;
}

@mixin bodyLarge {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: -0.008em;
}

@mixin bodyMedium {
  font-size: 1.4rem;
  line-height: 1.7142857;
  letter-spacing: 0.004em;
}

@mixin bodySmall {
  font-size: 1.2rem;
  line-height: 1.3333333;
  letter-spacing: 0.012em;
}

@mixin buttonBodySmall {
  font-size:1.8rem;
  line-height: 1.3333333;
  letter-spacing: -0.008em;
}


@mixin buttonBodyLarge {
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: -0.008em;
}