.nav-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 0.1rem solid var(--color-primary_01);
  height: 7.2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: background 0.2s ease;
  will-change: transform, background;

  .nav-wrapper__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: background-color 0.3s ease;
    will-change: background-color;
  }

  &.scrolled {
    background-color: var(--color-white);
  }

  @media screen and (min-width: 900px) {
    height: 9.6rem;
  }


  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .logo {
    font-family: var(--font-family-display);
    font-weight: var(--font-weight-medium);
    @include headlineSmall;
    @media screen and (min-width: 900px) {
      @include headlineMedium;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.6rem;
    @media screen and (min-width: 900px) {
      gap: 3.2rem;
    }

    a {
      display: inline-flex;
      @include bodyLarge;
      transform: scale(1);
      transition: all 0.3s ease;
      &:active {
        transform: scale(0.9);
      }

      @media screen and (min-width: 900px) {
        @include bodyXLarge;
      }

      @media screen and (min-width: 1200px) {
        &:hover {
          text-decoration: underline;
          text-decoration-thickness: 0.1rem;
        }
      }
      
    }
  }
}
