@import "_mixins";
@import "_fonts";
@import "_base";
@import "_icon";
@import "_grid";
@import "_form";
@import "_nav";
@import "_hero";
@import "_card";
// @import "_tab";
// @import "_tag";
// @import "_dropdown";
@import "_about";
@import "_footer";
@import "_projectHero";
@import "_project";
@import "_projectIframe";
@import "_404";
@import "_util";



.animateIn {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: blue;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
}

.animateOut {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: yellow;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}