---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import ProjectHero from "../components/projectHero.astro";
import IconArrowRightLine from "../components/IconArrowRightLine.astro";
import ProjectSection from "../components/ProjectSection.astro";
import CopiesWrapper from "../components/CopiesWrapper.astro";
import ImageWrapper from "../components/ImageWrapper.astro";
import Figcaption from "../components/Figcaption.astro";
import SectionSeparator from "../components/SectionSeparator.astro";
import IframeWrapper from "../components/IframeWrapper.astro";

const metaTitleName = "Page not found | Samuel Siau - Product (UX/UI) Designer";
---

<Layout title={metaTitleName}>
    <Navigation></Navigation>
    <main class="layout">
        404
    </main>
</Layout>