---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import ProjectHero from "../components/projectHero.astro";
import IconArrowRightLine from "../components/IconArrowRightLine.astro";
import ProjectSection from "../components/ProjectSection.astro";
import CopiesWrapper from "../components/CopiesWrapper.astro";
import ImageWrapper from "../components/ImageWrapper.astro";
import Figcaption from "../components/Figcaption.astro";
import SectionSeparator from "../components/SectionSeparator.astro";
import IframeWrapper from "../components/IframeWrapper.astro";

const metaTitleName = "Page not found | Samuel Siau - Product (UX/UI) Designer";
---

<Layout title={metaTitleName}>
    <!-- <Navigation></Navigation> -->
    <main class="layout errorpage">
        <section class="errorHero">
            <div class="videofallback"></div>
            <video class="heroVideo" autoplay muted loop controls="false">
                <source src="/videos/final.webm" type="video/webm">
                Your browser does not support the video tag.
            </video>
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-2-md"></div>
                    <div class="col-8-md">
                        <div class="content">
                            <h1>Something's wrong here.</h1>
                            <p>This is a 404 error, which means you clicked on a bad link or entered an invalid URL.</p>
                            <p>What you are looking for may be at</p>
                            <p class="cta"><a href="/" class="button primary">samuelsiau.com <IconArrowRightLine className="arrow-right"></IconArrowRightLine></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- <Footer></Footer> -->
</Layout>