---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import ProjectHero from "../components/projectHero.astro";
import IconArrowRightLine from "../components/icons/IconArrowRightLine.astro";
import ProjectSection from "../components/ProjectSection.astro";
import CopiesWrapper from "../components/CopiesWrapper.astro";
import ImageWrapper from "../components/ImageWrapper.astro";
import Figcaption from "../components/Figcaption.astro";
import SectionSeparator from "../components/SectionSeparator.astro";
import IframeWrapper from "../components/IframeWrapper.astro";

const metaTitleName = "Building Design System For ArchiPro | Samuel Siau - Product (UX/UI) Designer";
---

<Layout title={metaTitleName}>
  <Navigation></Navigation>
  <main class="layout">
    <ProjectHero 
      title="Building a Design System for ArchiPro" 
      client="ArchiPro" 
      platform="SaaS, E-commerce, Web App, Responsive Website"
      completion="2022 - 7 months" 
      role="As the project's UX/UI Designer, I expanded and managed the design system with the team and collaborated with the design and engineering teams throughout the project." 
      team="Mark Kiewiet(Head of Design), Jerry Li(Product Designer), Jason Liao(Engineer), Marwan Fikrat(Engineer)" 
      imageSmall="/archipro-aria/aria-hero-image@0.5x.webp" 
      imageLarge="/archipro-aria/aria-hero-image@1x.webp" 
      imageAlt="Aria Design System">
    </ProjectHero>

    <ProjectSection>
      <CopiesWrapper>
        <h1>The Challenge</h1>
        <p>The ArchiPro platform UI redesign was completed and signed off in mid-2022. However, the new UI ArchiPro platform faced a significant challenge: the need for a formal design system. This system would serve as a centralised resource hub, enabling designers and developers to access the necessary tools and guidelines, ensuring a consistent and efficient approach to product development.</p>
      </CopiesWrapper>
      <CopiesWrapper>
        <h2>What Is a Design System?</h2>
        <p>A Design System is a systematic approach to product development complete with guidelines, processes, components, and code. It is a single source of truth for teams that simplifies product creation, testing, and development and ensures consistency across different pages and channels.</p>
      </CopiesWrapper>
      <CopiesWrapper>
        <h2>Why We Need a Design System?</h2>
        <p>The latest UI ArchiPro platform Figma file shows various styling discrepancies, creating <b>inefficiencies</b>, <b>inconsistencies</b>, and <b>potential challenges for agile solutions</b>. Additionally, <b>duplicated standard components</b> could lead to <b>siloed teams with disjointed communication</b>.</p>
      </CopiesWrapper>
      <CopiesWrapper>
        <h2>How To Develop a Design System?</h2>
        <p>Developing a design system is a team effort that involves everyone, from designers and developers to stakeholders and brands. As the designer spearheading this initiative, I've gathered and consolidated all stakeholders' input to create a unified platform that houses this valuable information. We aimed to develop a centralised design system to achieve the following:</p>
        <ul>
          <li>Align our teams by providing a structured and guided approach to product development.</li>
          <li>Enhance our design and development process with a pre-built library and patterns team for creating and testing layouts, ultimately saving time.</li>
          <li>Reduce complexity and ambiguity.</li>
          <li>Improve brand perception and user trust through consistent, universally compelling experiences that help users achieve their goals.</li>
        </ul>
      </CopiesWrapper>
      <CopiesWrapper>
        <h2>Where To Start?</h2>
        <p>We recognised that this project would demand substantial resources, careful planning, and significant time commitments. However, we were confident that this endeavour was a justified long-term investment, benefiting our company, brand standards, and, most importantly, our valued customers.</p>
        <p>We ran the design sprint and process following steps by creating a design system.</p>
        <ol>
          <li>Find all styles of the new UI pages in Figma.</li>
          <li>Find all the components of the new UI pages in Figma.</li>
          <li>Define the layout and the spacing.</li>
          <li>Creation of Styles. Colour, text styles, shadow, etc.</li>
          <li>Creation of Components: button, input, dropdown, modals etc.</li>
          <li>Build Screens: mobile, tablet and responsive desktop.</li>
          <li>Document the usage of styles and components in Figma to share it with stakeholders and developers.</li>
          <li>Developer to create styles and components for the Storybook.</li>
          <li>Developers to implement styles and components to the platform.</li>
          <li>Test and Launch.</li>
        </ol>
      </CopiesWrapper>
    </ProjectSection>

    <SectionSeparator></SectionSeparator>

    <ProjectSection>
      <CopiesWrapper>
        <h1>The Design System anatomy</h1>
      </CopiesWrapper>
      <CopiesWrapper>
        <h3>Colours</h3>
      </CopiesWrapper>
      <ImageWrapper imageSource="/archipro-aria/aria-wf-02.webp"></ImageWrapper>
      <CopiesWrapper>
        <h3>Typography</h3>
      </CopiesWrapper>
      <ImageWrapper imageSource="/archipro-aria/aria-wf-01.webp"></ImageWrapper>
      <CopiesWrapper>
        <h3>Miscellaneous Styles</h3>
      </CopiesWrapper>
      <ImageWrapper imageSource="/archipro-aria/aria-wf-03.webp"></ImageWrapper>
      <CopiesWrapper>
        <h3>Spacing Grid and Layout</h3>
      </CopiesWrapper>
      <ImageWrapper imageSource="/archipro-aria/aria-wf-04.webp"></ImageWrapper>
      <CopiesWrapper>
        <h3>Components</h3>
        <p>List of components:</p>
        <ul>
          <li>Icons</li>
          <li>Buttons</li>
          <li>Inputs</li>
          <li>Dropdown menus</li>
          <li>Tags</li>
          <li>Avatars</li>
          <li>Tooltips</li>
          <li>Checkboxes, Radios and Switches</li>
          <li>Toasts</li>
          <li>Cards</li>
          <li>Modals</li>
          <li>Others</li>
        </ul>
      </CopiesWrapper>
    </ProjectSection>

    <SectionSeparator></SectionSeparator>

    <ProjectSection>
      <CopiesWrapper>
        <h1>Some Screenshots Document the Usage of Styles and Components</h1>
      </CopiesWrapper>
      <ImageWrapper imageSource="/archipro-aria/aria-doc-screen-01@1x.webp"></ImageWrapper>
      <ImageWrapper imageSource="/archipro-aria/aria-doc-screen-02@1x.webp"></ImageWrapper>
      <ImageWrapper imageSource="/archipro-aria/aria-doc-screen-03@1x.webp"></ImageWrapper>
      <ImageWrapper imageSource="/archipro-aria/aria-doc-screen-04@1x.webp"></ImageWrapper>
      <ImageWrapper imageSource="/archipro-aria/aria-doc-screen-05@1x.webp"></ImageWrapper>
      <ImageWrapper imageSource="/archipro-aria/aria-doc-screen-06@1x.webp"></ImageWrapper>
      <ImageWrapper imageSource="/archipro-aria/aria-doc-screen-07@1x.webp"></ImageWrapper>
      <ImageWrapper imageSource="/archipro-aria/aria-doc-screen-08@1x.webp"></ImageWrapper>
      <ImageWrapper imageSource="/archipro-aria/aria-doc-screen-09@1x.webp"></ImageWrapper>
    </ProjectSection>

    <SectionSeparator></SectionSeparator>

    <ProjectSection>
      <CopiesWrapper>
        <h1>Results</h1>
      </CopiesWrapper>
      <CopiesWrapper>
        <h2>Outcome</h2>
        <ul>
          <li>Reduced development time for new features by 50%.</li>
          <li>Increased design consistency across all products by 75%.</li>
          <li>Creating a design system may be a significant investment, but the long-term benefits are substantial.</li>
          <li>Creating a comprehensive design system that unifies products fosters seamless collaboration between design and development teams.</li>
        </ul>
      </CopiesWrapper>
      <CopiesWrapper>
        <h2>Reflection</h2>
        <p>It was an 'Everest' challenge. I learned much about resource management, coordinating moving parts, and syncing with developers. I am proud I convinced management to give the design system initiative a well-deserved try. The design system is an ongoing project, and we have essential components ready for easy adoption by any future team.</p>
      </CopiesWrapper>
    </ProjectSection>
  </main>
  <Footer></Footer>
</Layout>