---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";


const metaTitleName = "Attitude Live | Samuel Siau - Product Designer";

---

<Layout title="metaTitleName">
  <Navigation></Navigation>
  <main class="layout">
    <h1>AttitudeLive</h1>
  </main>
</Layout>