---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
import IconArrowRightLine from '../components/IconArrowRightLine.astro';
import IconCornerRightDownLine from '../components/IconCornerRightDownLine.astro';

const metaTitleName = "Samuel Siau -- Product Designer";
const videoURL = "https://samuelsiau.github.io/p2023-media/videos/final.webm";
const mediaURL = "https://samuelsiau.github.io/p2023-media";

---

<Layout title={metaTitleName}> 

	<main>
		<video width="320" height="240" controls>
			<source src={videoURL} type="video/webm">
			Your browser does not support the video tag.
			</video>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<p>Built with <a href="https://astro.build">{Astro.generator}</a></p>
		<IconArrowRightLine className=""></IconArrowRightLine>
		<IconCornerRightDownLine className=""></IconCornerRightDownLine>
	</main>
</Layout>

