---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
import IconArrowRightLine from '../components/IconArrowRightLine.astro';
import IconCornerRightDownLine from '../components/IconCornerRightDownLine.astro';
import Navigation from '../components/Navigation.astro';

const metaTitleName = "Samuel Siau - Product Designer";
const videoURL = "https://samuelsiau.github.io/p2023-media/videos/final.webm";
const mediaURL = "https://samuelsiau.github.io/p2023-media";

---

<Layout title={metaTitleName}> 
	<Navigation></Navigation>
	<main class="layout">
		<section class="heroHome">
			<div class="videofallback"></div>
			<video autoplay muted loop>
				<source src={videoURL} type="video/webm">
				Your browser does not support the video tag.
			</video>
			<div class="overlay"></div>
			<div class="container">
				<div class="content">
					<h1 class="animateHeroText">Hi I’m Samuel, a product designer passionate about designing and building delightful websites, products, and design systems that help people make a difference.</h1>
					<div class="cta">Scroll to explore <IconCornerRightDownLine className=""></IconCornerRightDownLine></div>
				</div>
			</div>
		</section>
		<section class="card-groups">
			<div class="card">
				<div>1231</div>
				<div>123132</div>
			</div>
		</section>
		<p class="instructions">
			<ul>
				<li><a href="/storybookforme">StorybookForMe</a></li>
				<li><a href="/attitudelive">Attitudelive</a></li>
				<li><a href="/ap-automated-shipping">ArchiPro</a></li>
			</ul>
		</p>
		<p>Built with <a href="https://astro.build">{Astro.generator}</a></p>
	</main>
</Layout>

