---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import IconArrowRightLine from '../components/IconArrowRightLine.astro';
import IconCornerRightDownLine from '../components/IconCornerRightDownLine.astro';
import Navigation from '../components/Navigation.astro';
import HeroBanner from '../components/HeroBanner.astro';
import AboutHome from '../components/AboutHome.astro';
import CareerHome from '../components/CareerHome.astro';
import Footer from '../components/Footer.astro';

const metaTitleName = "Samuel Siau - Product Designer";
const mediaURL = "https://samuelsiau.github.io/p2023-media";

---

<Layout title={metaTitleName}> 
	<Navigation></Navigation>
	<main class="layout" data-barba="container" data-barba-namespace="home">
		<HeroBanner></HeroBanner>
		<section class="card-groups">
			<Card href="/ap-automated-shipping" client="ArchiPro" title="Building Automated Shipping for Product Suppliers and Shipping Companies" imageSmall="/archipro-as/as-hero-image@0.5x.webp" imageLarge="/archipro-as/as-hero-image@1x.webp" imageAlt="ArchiPro - Automated Shipping"></Card>
			<Card href="/attitudelive" client="Attitude Live" title="Redesigning the AttitudeLive Website for Accessibility" imageSmall="/attitudelive/al-hero-image@0.5x.webp" imageLarge="/attitudelive/al-hero-image@1x.webp" imageAlt="Attitude Live - Website for accessibility"></Card>
			<Card href="/storybookforme" client="JVNZ" title="Designing an E-commerce Responsive Website for Personalised Children's Books" imageSmall="/storybookforme/storybook-hero-image@0.5x.webp" imageLarge="/storybookforme/storybook-hero-image@1x.webp" imageAlt="Storybook For Me - Personalised Childre's Book"></Card>
		</section>
		<section id="about" class="about">
			<div class="container">
				<div class="row">
					<div class="col-12 col-6-md col-5-lg">
						<AboutHome></AboutHome>
					</div>
					<div class="col hide-xs hide-sm hide-md"></div>
					<div class="col-12 col-6-md col-5-lg">
						<CareerHome></CareerHome>
					</div>
				</div>
			</div>
		</section>
	</main>
	
	<Footer></Footer>
</Layout>

