---
import Layout from '../layouts/Layout.astro';
import Card2 from '../components/Card2.astro';
import IconArrowRightLine from '../components/IconArrowRightLine.astro';
import IconCornerRightDownLine from '../components/IconCornerRightDownLine.astro';
import Navigation from '../components/Navigation.astro';
import HeroBanner from '../components/HeroBanner.astro';
import AboutHome from '../components/AboutHome.astro';
import CareerHome from '../components/CareerHome.astro';
import Footer from '../components/Footer.astro';
import Card from '../components/Card.astro';

const metaTitleName = "Samuel Siau - Product (UX/UI) Designer";
const mediaURL = "https://samuelsiau.github.io/p2023-media";

---

<Layout title={metaTitleName}> 
	<Navigation></Navigation>
	<main class="layout">
		<HeroBanner></HeroBanner>
		<section class="recentwork" id="works">
			<div class="container">
				<h2 class="recentworkTitle">Works</h2>
			</div>
			<!-- <div class="card-groups2">
				<Card2 href="/ap-automated-shipping/" client="ArchiPro" title="Building Automated Shipping for Product Suppliers and Shipping Companies" imageSmall="/archipro-as/as-hero-image@0.5x.webp" imageLarge="/archipro-as/as-hero-image@1x.webp" imageAlt="ArchiPro - Automated Shipping"></Card2>
				<Card2 href="/ap-aria-ds/" client="ArchiPro" title="Building a Design System for ArchiPro" imageSmall="/archipro-aria/aria-hero-image@0.5x.webp" imageLarge="/archipro-aria/aria-hero-image@1x.webp" imageAlt="ArchiPro - ARIA Design System"></Card2>
				<Card2 href="/attitudelive/" client="Attitude Live" title="Redesigning the AttitudeLive Website for Accessibility" imageSmall="/attitudelive/al-hero-image@0.5x.webp" imageLarge="/attitudelive/al-hero-image@1x.webp" imageAlt="Attitude Live - Website for accessibility"></Card2>
				<Card2 href="/storybookforme/" client="JVNZ" title="Designing an E-commerce Responsive Website for Personalised Children's Books" imageSmall="/storybookforme/storybook-hero-image@0.5x.webp" imageLarge="/storybookforme/storybook-hero-image@1x.webp" imageAlt="Storybook For Me - Personalised Childre's Book"></Card2>
			</div> -->
			
			<div class="card-groups">
				<Card href="/nui-mobile-app-overhaul/" 
					client="Nui Markets" 
					title="Nui Markets Mobile App Overhaul"
					platform='SaaS, Mobile App'
					imageSmall="/nuimarkets/mobile/nui-mobileapp-hero@0.5x.webp" 
					imageLarge="/nuimarkets/mobile/nui-mobileapp-hero@1x.webp" 
					imageAlt="Nui Markets - Mobile App"></Card>
				<Card href="/nuimarkets-portal/" 
					client="Nui Markets" 
					title="Attracting User Interest and Increasing Business Opportunities for Nui Markets"
					platform='SaaS, Mobile App, Web Application'
					imageSmall="/nuimarkets/portal/portal-hero-image@0.5x.webp" 
					imageLarge="/nuimarkets/portal/portal-hero-image@1x.webp" 
					imageAlt="Nui Markets - Portal"></Card>
				<Card href="/ap-automated-shipping/" 
					client="ArchiPro" 
					title="Building Automated Shipping for Product Suppliers and Shipping Companies"
					platform='SaaS, E-commerce, Web App'
					imageSmall="/archipro-as/as-hero-image@0.5x.webp" 
					imageLarge="/archipro-as/as-hero-image@1x.webp" 
					imageAlt="ArchiPro - Automated Shipping"></Card>
				<Card href="/ap-aria-ds/" 
					client="ArchiPro" 
					title="Building a Design System for ArchiPro" 
					platform='SaaS, E-commerce, Web App, Responsive Website'
					imageSmall="/archipro-aria/aria-hero-image@0.5x.webp" 
					imageLarge="/archipro-aria/aria-hero-image@1x.webp" 
					imageAlt="ArchiPro - ARIA Design System"></Card>
				<Card href="/attitudelive/" 
					client="Attitude Live" 
					title="Redesigning the AttitudeLive Website for Accessibility" 
					platform='Responsive Website'
					imageSmall="/attitudelive/al-hero-image@0.5x.webp" 
					imageLarge="/attitudelive/al-hero-image@1x.webp" 
					imageAlt="Attitude Live - Website for accessibility"></Card>
				<Card href="/storybookforme/" 
					client="JVNZ" 
					title="Designing an E-commerce Responsive Website for Personalised Storybook For Children" 
					platform='E-commerce, Responsive Website'
					imageSmall="/storybookforme/storybook-hero-image@0.5x.webp" 
					imageLarge="/storybookforme/storybook-hero-image@1x.webp" 
					imageAlt="Storybook For Me - Personalised Childre's Book"></Card>
			</div>
		</section>
		
		
		<section id="about" class="about">
			<div class="container">
				<div class="row">
					<div class="col-12 col-6-md col-5-lg">
						<AboutHome></AboutHome>
					</div>
					<div class="col hide-xs hide-sm hide-md"></div>
					<div class="col-12 col-6-md col-5-lg">
						<CareerHome></CareerHome>
					</div>
				</div>
			</div>
		</section>
	</main>
	
	<Footer></Footer>
</Layout>

