---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Footer from '../components/Footer.astro';
import ProjectHero from "../components/projectHero.astro";
import IconArrowRightLine from "../components/IconArrowRightLine.astro";
import ProjectSection from "../components/ProjectSection.astro";
import CopiesWrapper from "../components/CopiesWrapper.astro";
import ImageWrapper from "../components/ImageWrapper.astro";
import Figcaption from "../components/Figcaption.astro";
import SectionSeparator from "../components/SectionSeparator.astro";

const metaTitleName = "JVNZ - Storybook For Me | Samuel Siau - Product (UX/UI) Designer";

---

<Layout title={metaTitleName}>
  <Navigation></Navigation>
  <main class="layout">
    <ProjectHero 
      title="Designing an E-commerce Responsive Website for Personalised Storybook For Children" 
      client="JVNZ" 
      platform="E-commerce, Responsive Website"
      completion="2017 - 5 weeks" 
      role="As the Senior UX/UI Designer, I managed the entire project, from UX research, user flow, site architecture, wireframes, art direction, UI design, prototypes, and usability testing. Our collaboration was critical to our success." 
      team="Maak Bow (Creative Director), Eva Lin(Engineer), Andy Han(Engineer), and Christine Mata(Account Director)." 
      imageSmall="/storybookforme/storybook-hero-image@0.5x.webp" 
      imageLarge="/storybookforme/storybook-hero-image@1x.webp" 
      imageAlt="storybookforme">
      <div class="cta" slot="LinkToLiveSite"><a class="button link responsive" href="https://storybookforme.com.au/" target="_blank">View live site <IconArrowRightLine className="arrow-right"></IconArrowRightLine></a></div>
    </ProjectHero>
  
    <ProjectSection>
      <CopiesWrapper>
        <h1>The Challenge</h1>
        <p>JVNZ aims to expand its business by creating a website that offers a personalised storybook for children using pre-written and pre-illustrated stories. The final words and pictures of the story will be composed based on specific form fields chosen by the customer.</p>
      </CopiesWrapper>
      <CopiesWrapper>
        <h1>The Solution</h1>
        <p>Design a responsive e-commerce website that is easy to use and allows customers to browse through all the books that feature a child's name and sometimes other personalised details as a central part of the story. These books are designed to engage children by making them the stars of their adventures. The design decisions were based on the insights gathered from user interviews and competitor research, which indicated a strong preference for easy navigation and personalisation options.</p>
      </CopiesWrapper>
    </ProjectSection>

    <SectionSeparator></SectionSeparator>

    <ProjectSection>
      <CopiesWrapper>
        <h1>Research</h1>
      </CopiesWrapper>
      <CopiesWrapper>
        <h2>Stakeholder interview</h2>
        <p>We started the design process by conducting a stakeholder interview to understand the client's problem, business goals, target audience, success metrics, and competitors. This involved in-depth discussions with key stakeholders. We also conducted user interviews with parents and children to understand their needs and preferences.
        </p>
      </CopiesWrapper>
      <CopiesWrapper>
        <h2>Business question</h2>
        <ul>
          <li>What is the obstacle to personalised storybooks for children, and why are so few trusted online stores selling them?</li>
          <li>Who is the customer segment interested in personalised storybooks for children: children or parents?</li>
          <li>What is the measure of success in your business? Is it based on the number of customers who place orders?</li>
          <li>What is your business's Key Performance Indicator (KPI)? Is it the number of orders?</li>
          <li>What features do you want on your e-commerce website for a personalised storybook for children?</li>
          <li>How can we differentiate ourselves from our competitors?</li>
          <li>Why might someone purchase your product? Is it for themselves or as a gift?</li>
        </ul>
      </CopiesWrapper>
      <CopiesWrapper>
        <h2>User interview</h2>
        <p>I conducted user interviews to better understand the pain points and goals of those who shop for personalised storybooks for children online. These interviews helped identify target users and better understand their needs, values, and experiences.</p>
        <p><b>Key finding:</b></p>
        <ul>
          <li>Users need an easy-to-navigate website.</li>
          <li>Users want to browse through all the different books and details quickly.</li>
          <li>Users need alternative ways of paying(PayPal).</li>
          <li>Users wish for free shipping and returns.</li>
          <li>Users need to personalise children's books with ease.</li>
          <li>Users wish to preview their personalised storybooks for juniors.</li>
          <li>Users want a faster checkout process.</li>
        </ul>
      </CopiesWrapper>
      <CopiesWrapper>
        <h2>Competitor research</h2>
        <p>To create our e-commerce website, we left no stone unturned in researching competitors in personalised children's storybooks. Our thorough research provided helpful insights to identify standard features and opportunities for Storybook For Me to differentiate itself.</p>
      </CopiesWrapper>
      <ImageWrapper imageSource="/storybookforme/sfm-competitive-analysis-01.webp"><Figcaption caption="Findings from competitive and market analysis."></Figcaption></ImageWrapper>
    </ProjectSection>

    <SectionSeparator></SectionSeparator>

    <ProjectSection>
      <CopiesWrapper>
        <h1>Ideation</h1>
      </CopiesWrapper>
      <CopiesWrapper>
        <p>We understand what we are designing, why, and for whom. This allows us to create a product that aligns with the client's business goals and meets user needs. We have developed a feature roadmap that prioritises features based on development, investment, and importance to business and user goals.</p>
      </CopiesWrapper>
      <ImageWrapper imageSource="/storybookforme/sfm-feature-roadmap-01.webp"><Figcaption caption="Feature roadmap for Storybook For Me."></Figcaption></ImageWrapper>
    </ProjectSection>

    <SectionSeparator></SectionSeparator>

    <ProjectSection>
      <CopiesWrapper>
        <h1>Information Architecture</h1>
      </CopiesWrapper>
      <CopiesWrapper>
        <p>We created a site map to define the overall structure of the website.</p>
      </CopiesWrapper>
      <ImageWrapper imageSource="/storybookforme/sfm-sitemap-01.webp"><Figcaption caption="Site map created for Storybook For Me."></Figcaption></ImageWrapper>
      <CopiesWrapper>
        <p>Before designing, we mapped out the user flow to outline the main steps the user would take. We analysed the user's online shopping journey to create a detailed user flow.</p>
      </CopiesWrapper>
      <ImageWrapper imageSource="/storybookforme/sfm-userflow-01.webp"><Figcaption caption="Sample user flow showing pathways for browsing and purchasing a book."></Figcaption></ImageWrapper>
    </ProjectSection>

    <SectionSeparator></SectionSeparator>

    <ProjectSection>
      <CopiesWrapper>
        <h1>Wireframes</h1>
      </CopiesWrapper>
      <CopiesWrapper>
        <p>After organising insights from the ideation stage, we designed the website by sketching initial wireframes and creating low-fidelity wireframes.</p>
      </CopiesWrapper>
      <ImageWrapper imageSource="/storybookforme/sfm-low-fidelity-01.webp"><Figcaption caption="Low-fidelity sketches of homepage."></Figcaption></ImageWrapper>
      <CopiesWrapper>
        <p>After deciding on the visual direction of the layout we wanted to pursue, our goal was to focus on the buying process, from when the user arrives at the homepage to find a book they would like to purchase to the checkout. We began wireframing some key pages informed by the user flow.</p>  
      </CopiesWrapper>
      <ImageWrapper imageSource="/storybookforme/sfm-mid-fidelity-01.webp"><Figcaption caption="Mid-fidelity wireframes of some key screens."></Figcaption></ImageWrapper>
      <CopiesWrapper>
        <p>I created a mood board for inspiration before creating our design system.</p>
      </CopiesWrapper>
      <ImageWrapper imageSource="/storybookforme/moodboard-storybookforme.webp"></ImageWrapper>
    </ProjectSection>

    <SectionSeparator></SectionSeparator>

    <ProjectSection>
      <CopiesWrapper>
        <h1>Design with the system</h1>
      </CopiesWrapper>
      <CopiesWrapper>
        <p>Once we agreed on the visual feel, we established a design system to ensure consistency across all screens and streamline the development process.</p>
      </CopiesWrapper>
      <ImageWrapper imageSource="/storybookforme/StorybookForMeDS-01.webp"><Figcaption caption="I created high-fidelity wireframes and created a clickable prototype to prepare for testing."></Figcaption></ImageWrapper>
      <CopiesWrapper>
        <p>I created high-fidelity wireframes and created a clickable prototype to prepare for testing.</p>
      </CopiesWrapper>
    </ProjectSection>

    <SectionSeparator></SectionSeparator>

    <ProjectSection>
      <CopiesWrapper>
        <h1>Usability Testing</h1>
      </CopiesWrapper>
      <CopiesWrapper>
        <p>Before testing, we created two user scenarios, each with a task to complete. We developed a usability test plan and checklist to guide our goals. The testing was conducted in a controlled environment, with each participant given a specific task on the website. We observed their interactions and collected feedback to identify any usability issues.</p>
        <p><b>Testing objective:</b></p>
        <ul>
          <li>Tell me what this website does.</li>
          <li>Observe how participants navigate throughout the new site to accomplish their goals.</li>
          <li>Test to see if the website is user-friendly and easy to navigate.</li>
          <li>Get feedback from participants on the site's usability.</li>
          <li>Identify any points of confusion during the whole process of purchasing an item.</li>
        </ul>
        <p><b>Tasks:</b></p>
        <ul>
          <li>Find one book, fill out a specific form field, and preview the personalised book.</li>
          <li>Preview the personalised book, add it to the cart, and continue to checkout.</li>
        </ul>
      </CopiesWrapper>
      <CopiesWrapper>
        <h2>Testing Insights</h2>
        <p>Five participants, three women and two men, completed this usability test. The participants ranged in age from 30 to 50, and they were all parents who shop online to buy items for their kids.</p>
        <p><b>Key Insights:</b></p>
        <ul>
          <li>All participants can tell this is an e-commerce website selling personalised storybooks for children.</li>
          <li>All participants navigated through the site successfully.</li>
          <li>All participants completed finding a book, adding it to the cart and continuing checkout.</li>
          <li>25% of participants liked the preview of their personalised book.</li>
          <li>20% of participants liked to fill in the specific form field to personalise their book.</li>
        </ul>
        <p><b>Pain points:</b></p>
        <ul>
          <li>Users want the form to be placed above the fold so that they can quickly fill in the personalised book form.</li>
          <li>The information provided on the home and book detail pages must be more comprehensive.</li>
          <li>Users needed to realise they could edit the specific form field in the personalised book preview below the fold.</li>
        </ul>
      </CopiesWrapper>
      <ImageWrapper imageSource="/storybookforme/feedback-bookdetail-v1@1x.webp"></ImageWrapper>
      <ImageWrapper imageSource="/storybookforme/feedback-previewbook-v1@1x.webp"></ImageWrapper>
    </ProjectSection>

    <SectionSeparator></SectionSeparator>

    <ProjectSection>
      <CopiesWrapper>
        <h1>Priority Revisions</h1>
      </CopiesWrapper>
      <CopiesWrapper>
        <p>After completing the usability testing, we revisited and revised the participants' top pain points. These revisions improved the user experience and addressed the issues identified during the testing. The impact of these revisions was significant, with users reporting a smoother and more intuitive browsing and purchasing process.</p>
      </CopiesWrapper>
      <ImageWrapper imageSource="/storybookforme/result-bookdetail-v1@1x.webp"></ImageWrapper>
      <ImageWrapper imageSource="/storybookforme/result-previewbook-v1@1x.webp"></ImageWrapper>
      <CopiesWrapper>
        <p>After iterating on the pain points I gathered, I tested again to see if these changes improved usability.</p>
      </CopiesWrapper>
      <ImageWrapper imageSource="/storybookforme/result2-bookdetail-v1@1x.webp"></ImageWrapper>
      <ImageWrapper imageSource="/storybookforme/result2-previewbook-v1@1x.webp"></ImageWrapper>
    </ProjectSection>

    <SectionSeparator></SectionSeparator>

    <ProjectSection>
      <CopiesWrapper>
        <h1>Results</h1>
      </CopiesWrapper>
      <CopiesWrapper>
        <h2>Outcome</h2>
        <ul>
          <li>We successfully shipped and deployed this project before Christmas, and the client received significant consumer orders. The best part is that we received feedback that the website was easy to navigate and quick to checkout.</li>
          <li>The website generated NZ$22k in sales revenue in the first month of Christmas. Additionally, we observed a 13% increase in the average customer retention rate in the four months following the Christmas period.</li>
        </ul>
      </CopiesWrapper>
      <CopiesWrapper>
        <h2>Reflection</h2>
        <ul>
          <li>After completing my mid-fidelity wireframes, I planned to conduct prototype testing. However, I faced delays due to a shortage of participants, so I postponed the usability test until the high-fidelity wireframes were finished. In retrospect, conducting testing earlier could have helped identify user pain points sooner and save time when creating the higher-fidelity wireframes.</li>
          <li>This was my second e-commerce design project, where I used design thinking. I enjoyed conducting user interviews and usability testing, which helped me gain valuable experience and uncover usability issues. Overall, the project deepened my understanding of UX design and e-commerce.</li>
        </ul>
      </CopiesWrapper>
      <CopiesWrapper>
        <div>
          <a href="https://storybookforme.com.au/" class="button primary" target="_blank">View live site <IconArrowRightLine className="arrow-right"></IconArrowRightLine></a>
        </div>
      </CopiesWrapper>
    </ProjectSection>

    <SectionSeparator></SectionSeparator>

    <ProjectSection>
      <CopiesWrapper>
        <h1>Design Highlights</h1>
      </CopiesWrapper>
      <ImageWrapper imageSource="/storybookforme/sfm-final-01.webp"></ImageWrapper>
      <ImageWrapper imageSource="/storybookforme/sfm-final-02.webp"></ImageWrapper>
      <ImageWrapper imageSource="/storybookforme/sfm-final-03.webp"></ImageWrapper>
    </ProjectSection>

  </main>
  <Footer></Footer>
</Layout>