---

const mediaURL = "https://samuelsiau.github.io/p2023-media";

---


<div class="about__content">
  <div class="about__heading">
    <p>Hi again!</p>
    <p>I'm Samuel Siau.</p>
  </div>
  <p>As a product designer with a user-centric design philosophy, I have a decade of industry experience working with diverse clients, from small agencies to large corporations. I am passionate about designing and building delightful websites, products, and design systems that help people make a difference. With a keen eye for detail and a focus on user experience, I strive to create innovative solutions that are both functional and visually appealing. </p>
  <p>Design should solve problems and enhance people's lives. I constantly explore ways to push boundaries and create memorable experiences beyond expectations.</p>
  <p>Outside of work, I'm a food enthusiast who loves exploring new restaurants, cooking new dishes, and discussing my next meal. Food is a passion of mine in all capacities.</p>
  <picture>
    <source media="(min-width:900px)" srcset={`${mediaURL}/myphoto@0.75x.webp`}>
    <img src={`${mediaURL}/myphoto@0.75x.webp`} alt="Samuel Siau" loading="lazy">
  </picture>
</div>