---

const mediaURL = "https://samuelsiau.github.io/p2023-media";

---


<div class="about__content">
  <div class="about__heading">
    <p>About Me</p>
  </div>
  <p>I'm Samuel a product designer with a user-centric design philosophy, I have a decade of industry experience working with diverse clients, from small agencies to large corporations. With a keen eye for detail and a focus on user experience, I strive to create innovative solutions that are both functional and visually appealing.</p>
  <p>As a product designer, I aim to build delightful and impactful experiences for users to make a difference. I am motivated by the opportunity to solve complex problems and make a positive difference in people. I'm passionate about understanding users' needs, behaviour, and aspiration and translating that understanding into delightful and impactful user experiences.</p>
  <p>Outside of work, I'm a food enthusiast who loves exploring new restaurants and cooking new dishes. And I love to play basketball. Big fan of basketball sport.</p>
  <picture>
    <source media="(min-width:900px)" srcset="/public/myphoto@1x.webp">
    <img src="/public/myphoto@0.75x.webp" alt="Samuel Siau" loading="lazy">
  </picture>
</div>