---

---

<div class="career__content">
  <div class="career__heading">
    <p>Experience</p>
  </div>
  <div class="metaGroups">
    <div class="meta-list">
      <div class="meta__content">
        <p>ArchiPro Limited</p>
        <p>UX/UI Designer</p>
      </div>
      <div class="meta__year">
        <p>2020 — 2022</p>
      </div>
    </div>
    <div class="meta-list">
      <div class="meta__content">
        <p>Journey Digital</p>
        <p>Senior UX/UI Designer</p>
      </div>
      <div class="meta__year">
        <p>2012 — 2020</p>
      </div>
    </div>
    <div class="meta-list">
      <div class="meta__content">
        <p>Wag The Dog Agency</p>
        <p>Web Designer</p>
      </div>
      <div class="meta__year">
        <p>2010 — 2011</p>
      </div>
    </div>
    <div class="meta-list">
      <div class="meta__content">
        <p>Spitfire</p>
        <p>Contract Front-end Developer</p>
      </div>
      <div class="meta__year">
        <p>Feb 2010 — Mar 2010</p>
      </div>
    </div>
    <div class="meta-list">
      <div class="meta__content">
        <p>JWT (J. Walter Thompson)</p>
        <p>Web Designer</p>
      </div>
      <div class="meta__year">
        <p>2007 — 2009</p>
      </div>
    </div>
  </div>
</div>

<div class="career__content">
  <div class="career__heading">
    <p>Awards</p>
  </div>
  <div class="metaGroups">
    <a href="https://bestawards.co.nz/digital/small-scale-websites/journey/yale-digital-lock/" target="_blank" class="meta-list">
      <div class="meta__content">
        <p>Designer Institute of New Zealand Best Design Awards 2019 - Finalist</p>
        <p>Yale Digital Lock</p>
      </div>
    </a>
    <a href="https://bestawards.co.nz/public-good-award/public-good-award/bka-interactive-1/attitude-live/" target="_blank" class="meta-list">
      <div class="meta__content">
        <p>Designer Institute of New Zealand Best Design Awards 2017 Gold — Public Good Awards.</p>
        <p>Attitude Live</p>
      </div>
    </a>
    <div class="meta-list">
      <div class="meta__content">
        <p>Effie Awards Silver 2009</p>
        <p>Digital social media campaign for Ford Fiesta</p>
      </div>
    </div>
  </div>
</div>