---

import IconArrowLeftLine from "./IconArrowLeftLine.astro"
import IconArrowRightLine from "./IconArrowRightLine.astro"

---


<div class="row">
    <div class="col-12">
      <div class="carousel-container">
        <div class="main-carousel">
          <slot />
        </div>
        <button disabled class="button primary prev"><IconArrowLeftLine className="icon"></IconArrowLeftLine></button>
        <button class="button primary next"><IconArrowRightLine className="icon"></IconArrowRightLine></button>
      </div>
    </div>
  </div>