---
import IconArrowUpLine from "./IconArrowUpLine.astro";
---

<footer class="footer">
  <div class="container hide-xs">
    <button class="button link responsive backtotop1" type="button">Back to top <IconArrowUpLine className=""></IconArrowUpLine></button>
  </div>
  <div class="container">
    <p class="footerHeading">Let's build something great together.</p>
    <ul>
      <li><a href="#" target="_blank">Resume</a></li>
      <li><a href="mailto:samuelsiau@gmail.com" target="_blank">Email</a></li>
      <li><a href="https://nz.linkedin.com/in/samuelsiau" target="_blank">LinkedIn</a></li>
      <li><a href="">Behance</a></li>
      <li><a href="">Dribbble</a></li>
    </ul>
    <div class="footerBottom">
      <div>&copy; <span id="currentyear"></span> Samuel Siau</div>
      <button class="button link responsive backtotop2" type="button">Back to top <IconArrowUpLine className=""></IconArrowUpLine></button>
    </div>
  </div>
</footer>