---

import IconCornerRightDownLine from "./IconCornerRightDownLine.astro";
const videoURL = "https://samuelsiau.github.io/p2023-media/videos/final.webm";

---

<section class="heroHome">
  <div class="videofallback"></div>
  <video autoplay muted loop>
    <source src={videoURL} type="video/webm">
    Your browser does not support the video tag.
  </video>
  <div class="overlay"></div>
  <div class="container">
    <div class="content">
      <h1 class="animateHeroText">Hi I'm Samuel, a designer passionate about designing and building delightful websites, products, and design systems that help people make a difference.</h1>
      <!-- <div class="cta word">Scroll to explore <IconCornerRightDownLine className=""></IconCornerRightDownLine></div> -->
    </div>
  </div>
</section>