---

---

<nav class="nav-wrapper">
  <div class="container">
    <a href="/" class="logo">Samuel Siau</a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/#about">About</a></li>
      <li><a href="https://samuelsiau.github.io/p2023-media/SamuelSiauResume2023v3.pdf" target="_blank">Resume</a></li>
    </ul>
  </div>
</nav>

<script src="../scripts/navigation.js"></script>