---

---

<nav class="nav-wrapper">
  <div class="container">
    <a href="/" class="logo">Samuel Siau</a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/#about">About</a></li>
      <li><a href="/">Resume</a></li>
    </ul>
  </div>
</nav>