---

import IconArrowLeftLine from "../icons/IconArrowLeftLine.astro"
import IconArrowRightLine from "../icons/IconArrowRightLine.astro"

---


<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="swiper-container">
        <div class="swiper">
          <div class="swiper-wrapper">
            <slot />
          </div>
          <button class="button primary swiper-btn-prev"><IconArrowLeftLine className="icon"></IconArrowLeftLine></button>
          <button class="button primary swiper-btn-next"><IconArrowRightLine className="icon"></IconArrowRightLine></button>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</div>
