---
import '../styles/styles.scss';

export interface Props {
	title: string;
}

const metadataimage = "https://samuelsiau.github.io/p2023-media/favicons/mymetadataimage.jpg";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="generator" content={Astro.generator} />

		<!-- Primary Meta Tags -->
		<title>{title}</title>
		<meta name="title" content="Samuel Siau - Product Designer">
		<meta name="description" content="Hi I'm Samuel, a product designer passionate about designing and building delightful websites, products, and design systems that help people make a difference.">
		<meta name="keywords" content="Samuel Siau, UX Designer, UI Design, Product Designer, UX/UI Designer, UI/UX Designer, Web designer, Design Systems. Art Direction, Portfolio website">
  	<meta name="robots" content="index, follow">
		<meta name="language" content="english">
  	<meta name="author" content="Samuel Siau">

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://samuelsiau.com/">
		<meta property="og:title" content="Samuel Siau - Product Designer">
		<meta property="og:description" content="Hi I'm Samuel, a product designer passionate about designing and building delightful websites, products, and design systems that help people make a difference.">
		<meta property="og:image" content="/favicons/mymetadataimage.jpg">

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://samuelsiau.com/">
		<meta property="twitter:title" content="Samuel Siau - Product Designer">
		<meta property="twitter:description" content="Hi I'm Samuel, a product designer passionate about designing and building delightful websites, products, and design systems that help people make a difference.">
		<meta property="twitter:image" content="/favicons/mymetadataimage.jpg">

		<!-- Favicon and App icon -->
		<link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
		<link rel="manifest" href="/favicons/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<link rel="shortcut icon" href="/favicons/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicons/favicon.ico" type="image/x-icon">

		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inter:wght@400;700&display=swap" rel="stylesheet">
		<!-- <link rel="preload" href="https://samuelsiau.github.io/p2023-media/fonts/Recoleta-Medium.woff2" as="font" type="font/woff2" crossorigin> -->

		
		<!-- Google tag (gtag.js) -->
		<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-2GZ9350WYG"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-2GZ9350WYG');
		</script>	


		<!-- Google Tag Manager -->
		<script is:inline>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-MVZMWJ8');</script>
		<!-- End Google Tag Manager -->

		<script is:inline type="text/javascript">
			(function(c,l,a,r,i,t,y){
				c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
				t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
				y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
			})(window, document, "clarity", "script", "gxo7psejyj");
		</script>

		<!-- Hotjar Tracking Code for https://www.samuelsiau.com/ -->
		<script is:inline>
			(function(h,o,t,j,a,r){
				h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
				h._hjSettings={hjid:5047181,hjsv:6};
				a=o.getElementsByTagName('head')[0];
				r=o.createElement('script');r.async=1;
				r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
				a.appendChild(r);
			})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
		</script>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MVZMWJ8"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<svg width="0" height="0" style="display:none">
			<symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="arrow-left-line">
				<path d="M7.82843 10.9999H20V12.9999H7.82843L13.1924 18.3638L11.7782 19.778L4 11.9999L11.7782 4.22168L13.1924 5.63589L7.82843 10.9999Z"></path>
			</symbol>
			<symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="arrow-right-line">
				<path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
			</symbol>
			<symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="corner-right-down-line">
				<path d="M13.9999 5.00014L5.00003 5L5 7L11.9999 7.00011L12 17.1719L8.05027 13.2222L6.63606 14.6364L13 21.0004L19.364 14.6364L17.9498 13.2222L14 17.172L13.9999 5.00014Z"></path>
			</symbol>
			<symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="arrow-up-line">
				<path d="M12.9999 7.82843V20H10.9999V7.82843L5.63589 13.1924L4.22168 11.7782L11.9999 4L19.778 11.7782L18.3638 13.1924L12.9999 7.82843Z"></path>
			</symbol>
			<symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="arrow-right-up-line">
				<path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path>
			</symbol>
		</svg>
		<slot />
		
		<!-- script -->
		<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous" is:inline></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js" is:inline></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js" is:inline></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollToPlugin.min.js" is:inline></script>
		<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" is:inline></script>


		<script src="../scripts/local.js"></script>
	</body>

</html>
